@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #F4EAD5;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #F4EAD5;
}
.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.intro-section {
  max-width: 300px;
  margin-right: 20px;
  text-align: justify;
}

#logo {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.drawing-board {
  background: white;
  position: relative;
  width: 600px;
  height: 400px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#drawing-board::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}


#placeholder-glyph {
  opacity: 0.25;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

.drawing-board canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: none;
}

.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 800px;
}

section{
  border-radius: 7px;
}
.tools-board {
  background: white;
  width: 210px;
  padding: 15px 22px 0;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 0 0 5px;
  gap: 20px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option img {
  width: 30px;
  height: 30px;
  margin: auto;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #8B572A;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
#size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .save-img{
  background: #8B572A;
  border: 1px solid #8B572A;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}

#completeMsg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}

#closeMsg {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
}
#submit {
  background-color: #00B493;
  border-color: #00B493;
}

#submit:disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #666;
  border: 1px solid #ccc;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
  align-self: start;
}
.image-grid img {
  width: 100%;
  height: auto;
  border-radius: 5px; 
}

.selected-glyph {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
}

/* responsividade para mobile */

@media (max-width: 768px) {
  .content {
      flex-direction: column;
      align-items: center;
  }

  .intro-section h2 {
    text-align: center;
  }
  .intro-section p {
    margin: 10px;
    font-size: 14px;
}


  .intro-section, .container, .image-grid {
      width: 90%;
      max-width: none;
  }

  #logo {
      width: 100px;
  }

  .container {
      flex-direction: column;
      gap: 20px;
  }

  .drawing-board, .tools-board {
      width: 100%;
  }

  .drawing-board {
      height: auto;
      aspect-ratio: 3 / 2;
  }

  .drawing-board canvas {
    width: 100%;
    height: 100%;
  }

  .tools-board {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 10px;
  }

  .tools-board .row {
      width: 100%;
      justify-content: space-around;
  }

  .tools-board .row .options, .tools-board .row.buttons {
      justify-content: center;
  }

  .image-grid {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
