@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  height: 100%;
}
body {
  padding-top: 70px;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: #f6f2e9;
  background-size: cover;
  align-items: center;
  justify-content: center;

}

main {
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

main h2 {
    font-size: 24px;
    color: #8B572A;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #8B572A;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

/* Header Navigation */
header {
    width: 100%;
    background-color: #F4EAD5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    height: 50px;
    cursor: pointer;
  }
  
  nav ul.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  nav ul.nav-links li {
    display: inline-block;
  }
  
  nav ul.nav-links li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
  }
  
  nav ul.nav-links li a:hover {
    color: #8B572A;
  }

  .app-store-section {
    text-align: center;
    margin: 40px 0;
    background-color: #f6f2e9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .app-store-section h3 {
    font-size: 24px;
    color: #333;
  }
  
  .app-store-section p {
    font-size: 18px;
    color: #555;
    margin: 10px 0 20px;
  }
  
  .app-store-badge {
    width: 180px;
    height: auto;
  }
  
  .app-store-section p a {
    color: #8B572A;
    text-decoration: none;
    margin: 0 5px;
  }
  
  .app-store-section p a:hover {
    text-decoration: underline;
  }

  /* Privacy Policy Section Styling */
.mockup-text h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    padding-top: 40px;
}

.mockup-text h2 {
    font-size: 24px;
    color: #8B572A;
    margin-top: 20px;
}

.mockup-text p, .mockup-text ul {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

.mockup-text ul {
    list-style-type: disc;
    margin-left: 20px;
}

.mockup-text a {
    color: #4A98F7;
    text-decoration: none;
}

.mockup-text a:hover {
    text-decoration: underline;
}
